<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Google Calendar API Sample</title>
  </head>
  <body>
    <h1>Your Google Calendar</h1>
    <% if (list) { %>
      <table border="1">
        <thead>
          <th>開始</th>
          <th>内容</th>
        </thead>
        <tbody>
          <% list.forEach((event, key) => { %>
            <tr>
              <td><%= event.start.dateTime || event.start.date %></td>
              <td><%= event.summary %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <a href="/auth/">Login to Google!</a> 
    <% } %>
  </body>
</html>