<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Google Calendar API Sample</title>
  </head>
  <body>
    <h1>Your Google Calendar</h1>
        <a href="/auth/">Login to Google!</a> 
    </h1>
  </body>
</html>